
<form action = "http://127.0.0.1:8081/ajouter" method = "get">
Prénom: <input type = "text" name = "prenom"><br>
 Nom: <input type = "text" name = "nom"><br>
 Téléphone: <input type = "text" name = "telephone"><br>
  email: <input type = "text" name = "email"><br>
 <input type = "submit" value = "Submit">
</form>
