<nav>
	<ul>
		<li><a href=http://127.0.0.1:8081/>Accueil</a></li>
		<li><a href=http://127.0.0.1:8081/formulaire>Formulaire</a></li>
		<li><a href=http://127.0.0.1:8081/membres>Membres</a></li>
	</ul>
</nav>